{% block component_product_box_price_info %}
    {% set cheapest = product.calculatedCheapestPrice %}
    {% set stock = product.stock %}

    {% set real = product.calculatedPrice %}
    {% if product.calculatedPrices.count > 0 %}
        {% set real = product.calculatedPrices.last %}
    {% endif %}

    {% set referencePrice = real.referencePrice %}

    {% set displayFrom = product.calculatedPrices.count > 1 %}
    {% set displayParent = product.variantListingConfig.displayParent and product.parentId === null %}

    {% if displayParent %}
        {% set displayFromVariants = displayParent and real.unitPrice !== cheapest.unitPrice %}
        {% set real = cheapest %}
        {% set totalVariants = product.cheapestPriceContainer.value %}
        {% set hasDifferentPrice = totalVariants|filter(variant => variant.default != null)|length > 0 %}
    {% endif %}

    <div class="product-delivery">
        {% if stock === 0 %}
            <span class="product-delivery--item not-available">{{ 'shipping.soldOut'|trans }}</span>
        {% elseif product.deliveryTime.name %}
            <span class="product-delivery--item available">{{ 'shipping.available'|trans }} {{ product.deliveryTime.name }}**</span>
        {% elseif product.shippingFree %}
            <span class="product-delivery--item available">{{ 'shipping.freeShipping'|trans }}</span>
        {% endif %}
    </div>

    <div class="product-price-info">
        {% block component_product_box_price %}
            <div class="product-price-wrapper">
                {% set price = real %}
                {% set isListPrice = price.listPrice.percentage > 0 %}
                {% set isRegulationPrice = price.regulationPrice != null %}

                {% if displayFrom or (displayParent and hasDifferentPrice and totalVariants|length > 1) %}
                    {{ 'listing.listingTextFrom'|trans|sw_sanitize }}
                {% endif %}

                <span class="product-price{% if isListPrice and not displayFrom and not displayFromVariants %} with-list-price{% endif %}">
                    {{ price.unitPrice|currency }}

                    {% if isListPrice and not displayFrom and not displayFromVariants %}
                        {% set afterListPriceSnippetExists = 'listing.afterListPrice'|trans|length > 0 %}
                        {% set beforeListPriceSnippetExists = 'listing.beforeListPrice'|trans|length > 0 %}
                        {% set hideStrikeTrough = beforeListPriceSnippetExists or afterListPriceSnippetExists %}

                        <span class="list-price{% if hideStrikeTrough %} list-price-no-line-through{% endif %}">
                            {% if beforeListPriceSnippetExists %}{{ 'listing.beforeListPrice'|trans|trim|sw_sanitize }}{% endif %}

                            <span class="list-price-price">{{ price.listPrice.price|currency }}{{ 'general.star'|trans|sw_sanitize }}</span>

                            {% if afterListPriceSnippetExists %}{{ 'listing.afterListPrice'|trans|trim|sw_sanitize }}{% endif %}

                            <span class="list-price-percentage">{{ 'detail.listPricePercentage'|trans({'%price%': price.listPrice.percentage })|sw_sanitize }}</span>
                        </span>
                    {% endif %}
                </span>
                {% if isRegulationPrice %}
                    <span class="product-price with-regulation-price">
                        {% if isListPrice %}<br>{% endif %}<span class="regulation-price">{{ 'general.listPricePreviously'|trans({'%price%': price.regulationPrice.price|currency }) }}{{ 'general.star'|trans|sw_sanitize }}</span>
                    </span>
                {% endif %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
