{% sw_extends '@Storefront/storefront/element/cms-element-product-description-reviews.html.twig' %}

{% block element_product_description_reviews_tabs_navigation_description %}
    {{ parent() }}

    <li class="nav-item">
        <a
            class="nav-link product-detail-tab-navigation-link"
            id="info-about-function-tab"
            data-bs-toggle="tab"
            data-off-canvas-tabs="true"
            href="#info-about-function-tab-panel"
            role="tab"
            aria-controls="info-about-function-tab-panel"
            aria-selected="false"
        >
            <span>{{ "detail.tabs.infoAboutFunction"|trans|sw_sanitize }}</span>
            <span class="product-detail-tab-navigation-icon">
                {% sw_icon 'arrow-medium-right' style {'pack':'solid'} %}
            </span>

            {% if element.data.product.translated.description|length > 0 %}
                <span class="product-detail-tab-preview">
                    {{ page.product.customFields.custom_product_more_info_about_function|raw|striptags|sw_sanitize|u.truncate(125, '…') }}

                    {% if element.data.product.translated.description|length >= 126 %}
                        <span class="product-detail-tab-preview-more">{{ "detail.tabsPreviewMore"|trans|sw_sanitize }}</span>
                    {% endif %}
                    </span>
            {% endif %}
        </a>
    </li>
{% endblock %}

{% block element_product_description_reviews_tabs_navigation_review %}
{% endblock %}

{% block element_product_description_reviews_tabs_content_description %}
    {{parent()}}

    <div class="tab-pane fade"
            id="info-about-function-tab-panel"
            role="tabpanel"
            aria-labelledby="description-tab">
        {{page.product.customFields.custom_product_more_info_about_function | raw }}
    </div>
{% endblock %}

{% block element_product_description_reviews_tabs_content_review %}
{% endblock %}
