{% set searchWidgetOptions = {
    searchWidgetMinChars: page.header.activeLanguage.productSearchConfig.minSearchLength ?: 3
} %}

<form action="{{ path('frontend.search.page') }}" 
    method="get" 
    data-search-widget="true"
    {# ludtwig-ignore html-string-quotation #}
    data-search-widget-options='{{ searchWidgetOptions|json_encode }}'
    data-url="{{ path('frontend.search.suggest') }}?search="
    class="main-search--form">
  
    <input type="search"
        name="search"
        class="main-search--field"
        autocomplete="off"
        autocapitalize="off"
        placeholder="{{ "header.searchPlaceholder"|trans|striptags }}"
        aria-label="{{ "header.searchPlaceholder"|trans|striptags }}"
        value="{{ page.searchTerm }}"
    >

    <button type="submit" class="main-search--button" aria-label="{{ "header.searchButton"|trans|striptags }}">
        {% sw_icon 'search' style { 'pack': 'custom' } %}
        <span class="main-search--text">Search</span>
    </button>
    <div class="form--ajax-loader">&nbsp;</div>
</form>
